:root {
  --mont: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

h2,
p,
a {
  font-family: var(--mont);
}

.menuOverlay {
  position: fixed;
  z-index: 3000;
  width: 0;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100vh;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  transition: width 0.4s ease;
}

.menuOverlay a {
  text-decoration: none;
  color: rgb(2, 52, 48);
  font-family: var(--mont);
  font-weight: 600;
  transition: transform;
  transition-duration: var(--transition-duration);
}

.menuOverlay button {
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 10px 12px;
  border: none;
  background-color: rgb(2, 52, 48);
  color: white;
  border-radius: 100%;
  transition: transform;
  transition-duration: 0.4s;
  display: none;
}

.menuOverlay button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.menuOverlay a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav a {
  text-decoration: none;
  color: white;
  font-family: var(--mont);
  font-weight: 700;
  font-size: 13px;
  line-height: 27px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  position: relative;
  color: rgb(2, 52, 48);
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  /* border-bottom: 3px solid rgb(2, 52, 48); */
  border-bottom: 3px solid rgb(2, 52, 48);
  transition: width;
  transition-duration: 0.4s;
}

.nav-links a:hover::before {
  width: 100%;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-right a {
  background-color: rgb(64, 179, 62);
  color: white;
  padding: 5px 20px;
  border-radius: 20px;
}

.nav-right button {
  border: none;
  color: rgb(224, 225, 204);
  background-color: rgb(2, 52, 48);
  padding: 10px 12px;
  font-size: 20px;
  border-radius: 100%;
  display: none;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 100px;
  z-index: -1;
}

.contact .title {
  font-size: 50px;
  font-weight: 700;
  color: rgb(2, 52, 48);
  line-height: 50px;
  font-family: var(--mont);
  text-align: center;
}

.contact p {
  text-align: center;
  color: rgb(2, 52, 48);
}

form {
  width: 100%;
  margin: auto;
  border-radius: 20px;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* background-color: rgb(64, 179, 62); */
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(184, 242, 177, 0.2), 0 6px 20px 0 rgba(162, 255, 169, 0.19);

}

.fname {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.numbers {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

form label {
  color: rgb(2, 52, 48);
  font-weight: 700;
}

.name,
.email,
.phone,
.subject {
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(2, 52, 48);
}

.name::placeholder,
.email::placeholder,
.phone::placeholder,
.subject::placeholder,
textarea {
  font-size: 14px;
  color: rgb(2, 52, 48);
  font-weight: 500;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 40px;
  outline: none;
  border-radius: 20px;
  font-family: var(--mont);
  resize: none;
}

.support {
  text-decoration: none;
  color: rgb(64, 179, 62);
  font-weight: 700;
  background-color: rgb(2, 52, 48);
  padding: 10px;
  border-radius: 20px;
}

.support span {
  background-color: white;
  color: rgb(2, 52, 48);
  padding: 5px 12px;
  border-radius: 100%;
}

.also {
  margin: 50px auto;
}

.also .title {
  text-align: center;
  font-family: var(--bebas);
  font-size: 25px;
  color: rgb(2, 52, 48);
}

.values {
  width: 90%;
  margin: 30px auto;
}

.vals {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
}

.vals h2 {
  color: white;
}

.vals p {
  color: rgb(2, 52, 48);
  font-weight: 600;
}

.val1,
.val2,
.val3,
.val4 {
  text-align: center;
  width: 30%;
  background-color: rgb(64, 179, 62);
  padding: 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.val3 a {
  text-decoration: none;
  color: rgb(2, 52, 48);
  font-weight: 500;
}

.contact-divs {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  margin: auto;
}

.contact-left,
.contact-right {
  width: 50%;
  height: 550px;
}

.contact-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  margin-top: 20px;
}

.also {
  padding-top: 100px;
}

footer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer a {
  text-decoration: none;
  color: green;
  font-family: var(--mont);
}

.foot {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  gap: 30px;
}

.socials {
  display: flex;
  gap: 30px;
  align-items: center;
}

.socials a {
  transition: transform;
  transition-duration: 0.4s;
}


.socials a:hover {
  transform: scale(1.1);
}

.foot p {
  font-family: var(--mont);
  font-weight: 500;
  font-size: 14px;
}

.send {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(64, 179, 62);
  color: white;
  padding: 20px;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color;
  transition-duration: 0.3s;
}

.send:hover {
  background-color: rgb(2, 52, 48);
  font-weight: 600;
}



@media screen and (max-width: 900px) {

  .contact-divs {
    flex-direction: column;
    align-items: center;
  }

  .contact-left,
  .contact-right {
    width: 90%;
    margin: auto;
    height: 800px;
  }
}


@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
  }

  .nav-links {
    display: none;
  }

  .nav-right button {
    display: block;
  }

  form {
    width: 90%;
  }

  .fname {
    flex-direction: column;
  }

  .numbers {
    flex-direction: column;
  }

  .name,
  .email,
  .phone,
  .subject {
    padding: 20px 15px;
  }

  .values h2 {
    font-size: 16px;
  }

  .also {
    padding-top: 50px;
  }

  .also .title {
    display: none;
  }

  .vals {
    margin-top: 100px;
  }

  .val1,
  .val2,
  .val3,
  .val4 {
    width: 80%;
  }

  .socials {
    gap: 10px;
  }

  .contact-divs {
    flex-direction: column;
  }

  /* .contact-left,
  .contact-right {
    width: 100%;
    height: 400px;
  } */

}